<mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSidenav(sidenav)">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Lafot Hakfar</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" position="start" class="sidenav">
        <div class="scrollable-menu">
            <mat-nav-list>
                <a mat-list-item routerLink="/orders" (click)="sidenav.close()">Orders</a>
                <a mat-list-item routerLink="/cart" (click)="sidenav.close()">My Cart</a>
            </mat-nav-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
