<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My Bread Shop</span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" position="start">
        <div class="scrollable-menu">
            <mat-nav-list>
                <a mat-list-item routerLink="/orders">Orders</a>
                <a mat-list-item routerLink="/cart">My Cart</a>
            </mat-nav-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
