.scrollable-menu {
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Allow vertical scrolling if needed */
    width: 100%; /* Set to 100% to take full width */
    max-width: 250px; /* Optional max-width */
}

.scrollable-menu mat-list-item {
    min-width: 100%; /* Minimum width for items to take full width */
}

mat-sidenav {
    width: 100%; /* Set width to 100% to be responsive */
    max-width: 250px; /* Optional max-width */
}

mat-sidenav-content {
    margin-left: 0; /* Remove fixed margin */
}
