<mat-card class="form-card">
    <h3 class="form-title">🛒 Sales Details</h3>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-layout">
        <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput type="date" formControlName="date" aria-label="Date">
            <mat-error *ngIf="form.get('date')?.hasError('required')">
                Date is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Buyer Name</mat-label>
            <input matInput type="text" formControlName="buyerName" aria-label="Buyer Name">
            <mat-error *ngIf="form.get('buyerName')?.hasError('required')">
                Buyer Name is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Total Breads Bought</mat-label>
            <input matInput type="number" formControlName="breadsBought" min="1" aria-label="Total Breads Bought">
            <mat-error *ngIf="form.get('breadsBought')?.hasError('required')">
                Breads Bought is required.
            </mat-error>
            <mat-error *ngIf="form.get('breadsBought')?.hasError('min')">
                Must be at least 1.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Amount Paid</mat-label>
            <input matInput type="number" formControlName="amountPaid" min="1" aria-label="Amount Paid">
            <mat-error *ngIf="form.get('amountPaid')?.hasError('required')">
                Amount Paid is required.
            </mat-error>
            <mat-error *ngIf="form.get('amountPaid')?.hasError('min')">
                Must be at least 1.
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">
            {{ isLoading ? 'Saving...' : '💾 Save Sales' }}
        </button>
    </form>
</mat-card>