<mat-card class="sales-card">
    <h3 class="sales-title">🛒 Sales Details</h3>

    <form [formGroup]="salesForm" (ngSubmit)="submitSales()" class="form-layout">
        <mat-form-field appearance="outline">
            <mat-label>Buyer Name</mat-label>
            <input matInput type="text" formControlName="buyerName">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Total Breads Bought</mat-label>
            <input matInput type="number" formControlName="breadsBought" min="1">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Amount Paid</mat-label>
            <input matInput type="number" formControlName="amountPaid" min="1">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">💾 Save Sales</button>
    </form>
</mat-card>
